/* TODO: 
  - add boldness to username on tweets
  - change color pallet to something better to look at
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #A3F1FF;
  color: #353839;
  font: 300 16px/22px Helvetica;
}

/*
  ========================================
  Grid
  ========================================
*/

body {
  margin: 40px;
}

.sidebar {
    grid-area: sidebar;
  }

  .sidebar2 {
    grid-area: sidebar2;
  }

  .content {
    background: #A3F1FF
    grid-area: content;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .wrapper {
    background-color: #_;
    color: #444;
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: minmax(90px, auto);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

  @media only screen and (min-width: 500px)  {
  .wrapper {

    grid-template-columns: 20% auto;
    grid-template-areas:
    "header   header"
    "sidebar  content"
    "sidebar2 sidebar2"
    "footer   footer";
  }
  }

  @media only screen and (min-width: 600px)   {
    .wrapper {
      grid-gap: 20px;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
      "header  header  header"
      "sidebar content sidebar2"
      "footer  footer  footer";
      max-width: auto;
    }
  }

.box {
  background-color: #ABCFD5;
  color: #9C6232;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%; 
}
.tweets {
  padding: 5px 5px 5px 5px;
}
.user {
  font-size: 1.15em;
  padding: 5px 5px 5px 5px;
}
.message {
  padding: 5px 5px 5px 5px;
}
.timestamp {
  font-size: 0.5em;
  font-style: italic;
  padding: 0px 5px 5px 5px;
}
.hashtags {
  padding: 5px 5px 5px 5px;
}
.header {
  color: #A3F1FF;
}
.footer {
  background-color: #999;
}
.refresh {
  background: #E88B3F;
  padding: 5px 5px 5px 5px;
  font-size: .6em;
  }
.sidebar2 {
  background-color: #ABCFD5;
  color: #9C6232;
}
ul {
  font-size: 1.15em;
  font-style: bold;
  padding: 5px 5px 5px 5px;
  list-style:none;
}
li {
  padding: 5px 5px 5px 5px;
  list-style:none;
}


h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

